body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #965fdd 20%, #3290e9 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 